@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}
.header{
    width: 100%;
    height: 100vh;
    background: url(./back-image.png);
    background-position: center;
    background-size: cover;
    position: relative;
}
nav{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    margin-top: 15px;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 30px;

}
nav ul li a{
    text-decoration: none;
    color: rgb(89, 89, 231);
    font-size: 22px;
    font-weight: bold;
}
.btn{
    display: inline-block;
    border: 2px solid grey;
    padding: 12px;
    width: 120px;
    background-color: grey;
    color: #fff;
    border-radius: 20px;
    text-decoration: none;
    text-align: center;
    margin-right: 20px;

}
.logo{
    width: 160px;
    margin-left: 15px;
}
.main-content{
    margin-top: 15%;
    margin-left: 8%;

}
.main-content h1{
    font-size: 70px;
    font-weight: bold;

}
.main-content p{
    margin-bottom: 15px;
    font-weight: bold;
}
.main-girl{
    position: absolute;
    left: 60%;
    padding-top: 100px;
    top: 0;


}
.main-girl img{
    width: 600px;
}